h1,
h2 {
  background-color: #18afaf;
  color: #2718af;
  font-family: "Brush Script MT", "Trebuchet MS", sans-serif;
}

h1 {
  font-size: 100px;
  text-align: center;
}

.recipe-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border-style: groove;
  border-color: #2718af;
}